body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 20px;
}

#payeeChart {
    flex: 1;
    width: 100%;
}
